@{ 
    string style = "../Styles/style.css";
}

<html>
<head>
    <title>BuildsOfSkyrim - Main</title>
    <link rel="stylesheet" type="text/css" href="@style">
    <script src="~/Scripts/jquery-1.10.2.js"></script>
</head>
<body>
    <div id="all">
        <div id="top">
            <div id="banner"><img src="~/Content/banner.png" /></div>
            <div class="menu">
            <ul>
                <li>@Html.ActionLink("Home","Index")</li>
                <li>@Html.ActionLink("New build", "Build")</li>
                <li>@Html.ActionLink("Things", "Index")</li>
                <li style="float:right">@Html.ActionLink("Login", "Index")</li>
            </ul>
            </div>
        </div>
        <div id="content">
            @RenderBody()
        </div>
    </div>
</body>
</html>